* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 40px;
    background: #0B2434;
    
}
main {
    width: 90%;
    height: 90%;
    margin:auto;
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5,1fr);
    gap: 40px;
    margin-bottom: 40px;
}
.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
}
.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.title {
    font-size: 50px;
    margin: 0;
}
.instructions {
    font-weight: 400;
    margin-top: 0;
    padding: 20;
    text-align: center;
}