* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 40px;
    background: #0B2434;
    
}
main {
    width: 90%;
    height: 90%;
    margin:auto;
    background: #F5F5F5;
    border-radius: 10px;
}